.md-button.logo {
  background: rgb(58, 35, 73);
  width: 200px;
  height: 200px;
}

.displayCard {
  background: rgb(207, 178, 226);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

html {
  box-sizing: border-box;
}