<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <div class="header" flex>
            <p><strong>Memory Game</strong></p>
        </div>
    </div>
</md-toolbar>
<br>
<div align="center">
    <h3>Let's Play a Matching Game, Please Select Your Difficulty</h3>
    <form method="post" action="/addname">
        <h4>Please Enter Your Name Below:</h4>
        <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.firstName">
        </md-input-container>
    </form>
</div>
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-swipe-content>
            <md-tab label="Easy" style="padding: 25px; text-align: center;">
                <md-content class="md-padding" align="center">
                    <div layout="row">
                            <div id="score-panel" align="center" flex>
                                <md-button class="md-raised md-primary" ng-value="easy" ng-click="vm.easyStart()">Start</md-button>
                                <md-button class="md-raised md-warn" ng-click="vm.reset()">Reset</md-button>
                            </div>
                        </div>
                    <div layout="row">
                        <div id="score-panel" align="center" flex>
                            <div id="myProgress">
                                <md-progress-linear align="center" md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div layout="row">
                        <div id="score-panel" align="center" flex>
                            <span class="moves">0</span> Moves
                        </div>
                    </div>
                    <div layout="row" layout-xs="column">
                        <div flex class="flipInX1">
                            <md-button class="md-icon-button logo" ng-click="vm.flip()" ng-value="card1 = true">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex class="flipInX1">
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <div layout="row" layout-xs="column">
                        <div flex class="flipInX1">
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex class="flipInX1">
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Hard" style="padding: 25px; text-align: center;" flex>
                <md-content class="md-padding">
                    <md-content class="md-padding" align="center">
                        <div layout="row">
                            <div id="score-panel" align="center" flex>
                                <md-button class="md-raised md-primary" ng-value="hard" ng-click="vm.hardStart()">Start</md-button>
                                <md-button class="md-raised md-warn" ng-click="vm.reset()">Reset</md-button>
                            </div>
                        </div>
                        <div layout="row">
                            <div id="score-panel" align="center" flex>
                                <md-progress-linear align="center" md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
                            </div>
                        </div>
                        <br>
                        <div layout="row">
                            <div id="score-panel" align="center" flex>
                                <span class="moves">0</span> Moves
                            </div>
                        </div>
                    <div layout="row" layout-xs="column">
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <div layout="row" layout-xs="column">
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                            </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <div layout="row" layout-xs="column">
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <div layout="row" layout-xs="column">
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                        <div flex>
                            <md-button class="md-icon-button logo" ng-click="vm.flip()">
                                <img class="logo-image" src="../assets/cardCover.png">
                            </md-button>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="High Scores" style="padding: 25px; text-align: center;">
                    <md-content class="md-padding" align="center">
                        <div layout="row" layout-xs="column">
                            <div flex>
                            Name:
                            </div>
                            <div flex>
                                Danielle
                            </div>
                        </div>
                    </md-content>
                </md-tab>
        </md-tabs>
    </md-content>
</div>
<ui-view></ui-view>