<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <div class="header" flex>
            <p><strong>Memory Game</strong></p>
        </div>
    </div>
</md-toolbar>
<br>
<div align="center">
    <h3>Let's Play a Matching Game, Please Select Your Difficulty</h3>
</div>
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-swipe-content>
            <md-tab label="Easy" style="padding: 25px; text-align: center;">
                <md-content class="md-padding" align="center">
                        <div layout="row">
                                <div id="score-panel" align="center" flex>
                                    <md-button class="md-raised md-primary" ng-value="easy" ng-click="vm.easyStart()">Start</md-button>
                                    <md-button class="md-raised md-warn" ng-click="vm.reset()">Reset</md-button>
                                </div>
                            </div>
                            <br>
                        <div layout="row" ng-if="vm.isEasyStarted === true">
                        </div>
                        <br>
                    <div class="container" ng-if="vm.isEasyStarted === true" flex>
                        <section class="score-panel">
                            <span class="moves">0</span> Moves
                            <div class="timer"></div>
                        </section>
                        <ul class="deck" id="card-deck">
                            <li class="card" type="A"></li>
                            <li class="card" type="B"></li>
                            <li class="card" type="C"></li>
                            <li class="card" type="D" ></li>
                            <li class="card" type="E"></li>
                            <li class="card" type="F"></li>
                            <li class="card" type="G"></li>
                            <li class="card" type="H"></li>
                        </ul>
                        <div id="popup1" class="overlay">
                            <div class="popup">
                                <h2>ITS OVER!</h2>
                                <a class="close" href=# >×</a>
                                <div class="content-1">
                                    YAY! You Didn't Loose
                                </div>
                                <div class="content-2">
                                    <p>You made <span id=finalMove> </span> moves </p>
                                    <p>in <span id=totalTime> </span> </p>
                                </div>
                                <button id="play-again"onclick="playAgain()">
                                    Try to beat your score?</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Hard" style="padding: 25px; text-align: center;" flex>
                <md-content class="md-padding">
                    <md-content class="md-padding" align="center">
                        <div layout="row">
                            <div id="score-panel" align="center" flex>
                                <md-button class="md-raised md-primary" ng-value="hard" ng-click="vm.hardStart()">Start</md-button>
                                <md-button class="md-raised md-warn" ng-click="vm.reset()">Reset</md-button>
                            </div>
                        </div>
                        <div layout="row">
                            <div id="score-panel" align="center" flex ng-if="vm.isHardStarted === true">
                            </div>
                        </div>
                        <br>
                        <div ng-if="vm.isHardStarted === true">
                                    <div class="timer"></div>
                                    <span class="moves">0</span> Moves

                            </section>
                                <ul class="deck" id="card-deck">
                                    <li class="card" type="A"></li>
                                    <li class="card" type="B"></li>
                                    <li class="card" type="C"></li>
                                    <li class="card" type="D" ></li>
                                    <li class="card" type="E"></li>
                                    <li class="card" type="F"></li>
                                    <li class="card" type="G"></li>
                                    <li class="card" type="H"></li>
                                    <li class="card" type="I"></li>
                                    <li class="card" type="J"></li>
                                    <li class="card" type="K"></li>
                                    <li class="card" type="L"></li>
                                    <li class="card" type="M"></li>
                                    <li class="card" type="N"></li>
                                    <li class="card" type="O"></li>
                                    <li class="card" type="P"></li>
                                </ul>
                                <div id="popup1" class="overlay">
                                    <div class="popup">
                                        <h2>Congratulations</h2>
                                        <a class="close" href=# >×</a>
                                        <div class="content-1">
                                            YAY! You Didn't Loose
                                        </div>
                                        <div class="content-2">
                                            <p>You made <span id=finalMove> </span> moves </p>
                                            <p>in <span id=totalTime> </span> </p>
                                        </div>
                                        <button id="play-again"onclick="playAgain()">
                                            Try to beat your score?</a>
                                        </button>
                                    </div>
                                </div>
                            </div>

                </md-content>
            </md-tab>
            <md-tab label="High Scores" style="padding: 25px; text-align: center;">
                    <md-content class="md-padding" align="center">
                        <div layout="row" layout-xs="column">
                            <div flex>
                            Name:
                            </div>
                            <div flex>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
        </md-tabs>
    </md-content>
</div>
<ui-view></ui-view>